# Rules in this file were initially inferred by Visual Studio IntelliCode from the C:\Users\FeatSystems\source\repos\WebApplication8\WebApplication8\Models\ codebase based on best match to current usage at 4/4/2024
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

